# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb

# NuGet
packages/
*.nupkg
*.snupkg

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
UpgradeLog*.htm
*.tlog
*.lastcodeanalysissucceeded

# IDE
.idea/
.vscode/
_ReSharper*/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
desktop.ini

# Test
[Tt]est[Rr]esult*/
*.coverage
